.box1{
    background-color: #e06666;
    color: #ffff00 ;
}
.box2{
    background-color: #2E8B57;
    color: #000 ;
}
.box3{
    background-color: #8e7cc3;
    color: #000 ;
}
.box4{
    background-color: #ffc800;
    color: #000 ;
}
.box5{
    background-color: #ff9fd5;
    color: #000 ;
}
.box6{
    background-color: #ffff00;
    color: #000 ;
}
.box7{
    background-color: #fed849;
    color: #000 ;
}
.box8{
    background-color: #2E8B57;
    color: #000 ;
}
.box9{
    background-color: #3d85c6;
    color: #ffff00 ;
}
